%% -*- erlang -*-
{sub_dirs, ["rel"]}.
{deps, [
        {lager, "2.0", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx", {tag, "develop"}}},
        {riak_core, "0.10.1", {pkg, riak_core_lite}}
       ]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    nowarn_export_all,
    {includes, ["include/"]},
    {i, "include"}
]}.

%{erl_opts, [debug_info,
%            warnings_as_errors,
%            {parse_transform, lager_transform},
%            {i, "include"},
%            {src_dirs, ["src"]}
%            ]}.
{cover_enabled, true}.

{edoc_opts, [
    {preprocess, true},
    {todo, true},
    {includes, ["include/"]},
    {dir, "edoc"}
]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{relx, [{release, {saturn_leaf, "0.2.2"}, [saturn_leaf]},
    {dev_mode, false},
    % do not expect Erlang runtime at deployment site
    {include_erts, true},

    % application environment
    {sys_config_src, "config/sys.config.src"},
    % vm arguments passed when starting the Erlang VM
    {vm_args_src, "config/vm.args.src"},

    {overlay, [
        {mkdir, "config/"},
        % copy nested configuration file(s)
        {copy, "config/rel", "config"},
        {mkdir, "bin/"},
        {copy, "config/env", "bin/env"}
    ]},

    % create start script with additional features
    {extended_start_script, true}
]}.

%% Do not update this dependency without testing lint
%% Something is broken in the rebar3 build process that causes this plugin to call modules that are not its actual dependencies
%{project_plugins, [{rebar3_lint, "0.1.10"}]}.

{profiles, [
    {test, [
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {erl_opts, [warnings_as_errors, debug_info, no_inline_list_funcs]},
        {plugins, [{coveralls, {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}]},
        {deps, [meck]}]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "travis-ci"}.
